<% content_for :title, "Index" %>

<div class="content">
	<h2><%= yield(:title) %></h2>
	<p>The time is now: <%= Time.now %></p>
  <p><%= 'Welcome ' + current_user.username if logged_in? %><a id='welcomeAnchor'></a></p>
</div>
